h2 {
	font-size:50px;
	padding-left:80px;
}

textarea {
	width:650px;
	heigth:500px;
}

h3 {
	padding-left:100px;
	font-family:helvetica;
}

h5 {
	padding-left:105px;
}

p {
	padding-left:115px;
	padding-right: 110px;
	font-size:11pt;
}

nav {
	padding-left:75px;
	padding-right: 75px;
}

div

